In [1]:
values=range(10,21)
print(values)

range(10, 21)

In [2]:
value_list=list(values)

In [3]:
print(value_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:

value_sum=sum(value_list)
print(value_sum)

165

In [5]:
#printing values using enumerator
names=['arsenal', 'chelsea','liverppol','manutd', 'mancity','spurs']
for index, value in enumerate(names):
    print(index, value)

0 arsenal
1 chelsea
2 liverppol
3 manutd
4 mancity
5 spurs

In [6]:
#printing values using enumerator with desired index as start
for index, value in enumerate(names, start=20):
    print(index, value)

20 arsenal
21 chelsea
22 liverppol
23 manutd
24 mancity
25 spurs

In [7]:
#zip()function for iterating in the list
team=['arsenal','chelsea','mancity','manutd','liverpool','spurs']
rankings=['rank6','rank4','rank1','rank2','rank3','rank5']

z=zip(team, rankings)
z_list=list(z)
print(z_list)

[('arsenal', 'rank6'), ('chelsea', 'rank4'), ('mancity', 'rank1'), ('manutd', 'rank2'), ('liverpool', 'rank3'), ('spurs', 'rank5')]

In [8]:
#using for to iterate
for z1,z2 in zip(team, rankings):
    print(z1,z2)

arsenal rank6
chelsea rank4
mancity rank1
manutd rank2
liverpool rank3
spurs rank5

In [10]:
#using splash *zip
z=zip(team, rankings)
print(*z)

('arsenal', 'rank6') ('chelsea', 'rank4') ('mancity', 'rank1') ('manutd', 'rank2') ('liverpool', 'rank3') ('spurs', 'rank5')

In [11]:
team=['arsenal','chelsea','mancity','manutd','liverpool','spurs']
rankings=['rank6','rank4','rank1','rank2','rank3','rank5']
coach=["wenger","conte",'gudi','jose','klopp','puchitino']

combine=zip(team, rankings, coach)
list_combine=list(combine)
print(list_combine)

[('arsenal', 'rank6', 'wenger'), ('chelsea', 'rank4', 'conte'), ('mancity', 'rank1', 'gudi'), ('manutd', 'rank2', 'jose'), ('liverpool', 'rank3', 'klopp'), ('spurs', 'rank5', 'puchitino')]

In [13]:
#printing with zip() functions
combine=zip(team, rankings, coach)
for t1,r1,c1 in combine:
    print(t1,r1,c1)

arsenal rank6 wenger
chelsea rank4 conte
mancity rank1 gudi
manutd rank2 jose
liverpool rank3 klopp
spurs rank5 puchitino

In [14]:
combine=zip(team, rankings, coach)
print(*combine)

('arsenal', 'rank6', 'wenger') ('chelsea', 'rank4', 'conte') ('mancity', 'rank1', 'gudi') ('manutd', 'rank2', 'jose') ('liverpool', 'rank3', 'klopp') ('spurs', 'rank5', 'puchitino')